#cards {
    padding: 4rem 4rem;
    background: linear-gradient(
      217deg,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0.685) 70.71%
    ), linear-gradient(127deg, rgba(80, 80, 80, 0.349), rgb(37, 101, 131) 70.71%),
    linear-gradient(336deg, rgb(45, 56, 58), rgb(255, 255, 255) 70.71%);
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.808);
    -webkit-filter: drop-shadow(0 0px 2px rgba(0, 0, 0, 0.808));
    filter: drop-shadow(0 0px 2px rgba(0, 0, 0, 0.808));
}

#cards__link {
  position: relative;
  top: calc(-4rem + -80px);
}

  .cards__header {
    text-align: center;
    color: rgb(255, 255, 255);
    background: rgb(16,16,16);
    width: fit-content;
    padding: 10px 20px;
    margin: 0 auto;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(49, 49, 49, 0.774);
    -webkit-filter: drop-shadow(0 2px 3px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 2px 3px rgba(56, 125, 255, 0.017));
  }
  
  .cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
  }
  
  .cards__wrapper {
    position: relative;
    margin: 20px 0 45px;
  }
  
  .cards__items {
    margin-bottom: 24px;
    transform: translateY(-20px);
  }
  
  .cards__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
  }
  
  .cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 2px 3px rgba(49, 49, 49, 0.295);
    -webkit-filter: drop-shadow(0 2px 3px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 2px 3px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    border: rgb(182, 182, 182) solid 1px;
  }
  
  .cards__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
  }
  
  .cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  
  .cards__item__img:hover {
    transform: scale(1.1);
  }
  
  .cards__item__info {
    padding: 20px 30px 30px;
    background: #fff;
    height: 100%;
    display: grid;
  }
  
  .cards__item__text {
    color: #000000;
    font-size: 18px;
    line-height: 24px;
  }

  .github {
    text-decoration: none;
    justify-self: center;
    background-color: rgb(37, 101, 131);
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    width: fit-content;
  }

  .github:hover {
    background-color: rgb(17, 48, 63);
  }

  .fa-github {
    padding-left: 5px;
  }
  
  @media only screen and (min-width: 1200px) {
    
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  }

  @media screen and (max-width: 960px) {
  
    #cards__link {
      position: relative;
      top: calc(-4rem + -80px);
    }
    
    #cards {
      padding: 4rem 2rem;
    }
    
    .cards__item__text {
      color: #000000;
      font-size: 17px;
      line-height: 18px;
    }

    .github {
      font-size: 12px;
      padding: 5px 10px;
      margin-top: 10px;
    }
  
    .github:hover {
      background-color: rgb(17, 48, 63);
    }
  
    .fa-github {
      padding-left: 5px;
    }
  }

  @media screen and (max-width: 560px) {
    .cards__item__text {
      color: #000000;
      font-size: 12px;
      line-height: 18px;
    }

    .cards__item__info {
      padding: 8px 18px 18px;
      background: #fff;
    }
  }
  