.contact {
    /* box-shadow: 0 0px 2px rgba(0, 0, 0, 0.808);
    -webkit-filter: drop-shadow(0 0px 2px rgba(0, 0, 0, 0.808)); */
    filter: drop-shadow(0 0px 2px rgba(0, 0, 0, 0.808));
    display: grid;
    padding: 6em 0;
    height: 94vh;
}

.contact__header {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 3.5em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.808);
}

.contact__form__container {
    padding: 3em;
    display: flex;
    justify-content: center;
}


.contact__form__container > form {
    width: 36%;
    font-size: 25px;
    color: #fff;
}

.contact__form__container > form > div{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

#message, #name, #email {
    font-size: 20px;
    padding: 3px;
    border-radius: 3px;
    border: rgb(146, 146, 146) solid 1px;
    background: rgb(255, 255, 255);
}

#message:focus, #name:focus, #email:focus {
    outline: solid rgb(0, 183, 255);
}

#message {
    height: 100px
}

#submit_btn {
    margin-top: 20px;
    height: 50px;
    font-size: 25px;
    border-radius: 3px;
}

@media screen and (max-width: 1200px) {
    .contact {
        background-image: url(../../public/images/darkcyan2.jpg);
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: center;
        background-attachment: scroll;
        background-position-y: -170px;
        background-color: rgba(14, 18, 18, 0.315);
        background-blend-mode: multiply;
        height:min-content;
    }
}

@media screen and (max-width: 960px) {
    .contact__form__container > form {
        width: 100%;
    }

    .contact__header {
        padding: 0 20px;
        font-size: 3em;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.808);
    }
}
@media screen and (max-width: 400px) {

    .contact__header {
        font-size: 2.5em;
        padding: 0 .5em;
    }
}
