#skills {
    padding: 3rem 3rem;
    background: rgb(0, 80, 112);
    /* background: linear-gradient(54deg, rgba(0,35,49,1) 23%, rgb(0, 80, 112) 100%);  */
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.808);
    -webkit-filter: drop-shadow(0 0px 2px rgba(0, 0, 0, 0.808));
    filter: drop-shadow(0 0px 2px rgba(0, 0, 0, 0.808));
    z-index: 1;
    color: #fff;
    font-size: 20px;
    /* text-shadow: 1px 2px 2px rgb(17, 17, 17); */
}

#skills__wrapper {
    position: relative;
    top: -300px;
}

.skills__container {
    display: grid;
    grid-template-columns: 1.5fr .5fr;
    max-width: 1090px;
    width: 90%;
    margin: 0 auto;
}

.skills__intro {
    margin: 0 auto;
}

.skills__header {
    padding-bottom: 10px;
}

.skills__list {
    display: flex;
    gap: 50px;
    justify-self: right;
}

.skills__items {

    list-style: none;
}

.skills__list__item {
    
}

@media only screen and (max-width: 960px){
    #skills {
        font-size: 15px;
    }

    #skills__wrapper {
        position: relative;
        top: -250px;
    }

    .skills__container {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 1000px;
        width: 90%;
        margin: 0 auto;
    }

    .skills__list {
        display: flex;
        gap: 50px;
        justify-self: left;
        margin-top: 25px;
    }

    .skills__intro {
        margin: 0 auto;
        justify-self: center;
        text-align: left;
    }

    .skills__header {
        text-align: center;
    }
}